.search-banner {
  background-color: $color-light;
  padding: 0 50px 25px 50px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
}

select,
input {
  padding: 8.5px 10px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  font-size: 12px;

  &:focus {
    outline: none;
    border-color: #3e3e3e;
  }
}

select {
  padding-right: 28px;
  background-image: url(../../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;

  *:-ms-expand {
    display: none;
  }
}

.form-item__inline {
  display: flex;
  flex: 1 1 0;

  .form-item {
    width: 50%;

    input,
    select {
      border-radius: 0;
      border-left-width: 0;
    }

    &:first-child {
      input,
      select {
        border-radius: 3px 0 0 3px;
        border-left-width: 1px;
      }
    }

    &:last-child {
      input,
      select {
        border-radius: 0 3px 3px 0;
      }
    }
  }

  &:focus-within {
    .form-item {
      input,
      select {
        border: 1px solid #3e3e3e;
      }

      &:last-child {
        input,
        select {
          border-left: 0;
        }
      }
    }
  }
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #F7F7F7;
  border-radius: 3px;
  padding: 25px 50px 30px 50px;
  width: 100%;

  > * {
    width: 25%;
    padding-right: 10px;

    &:last-child {
      padding: 0;
    }
  }
}

.search-form-providers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .search-form-providers__item {
    display: flex;
    padding: 0 20px;
    align-items: center;

    label {
      margin-right: 10px;
    }
  }
}

.search-form-side {
  background-color: #FFF;
  padding: 20px 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 1px 0px rgba(156, 156, 156, 1);
  border-radius: 3px;

  > * {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form-actions {
    margin-top: 20px;
  }
}

.form-actions {
  .button {
    width: 100%;
  }
}